In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats


from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_train=pd.read_csv('data/train.csv')
df_test=pd.read_csv('data/test.csv') 
df_test['SalePrice'] = 0

In [3]:
str_list = ['Alley','Heating','HeatingQC','CentralAir','Electrical','BsmtQual','BsmtCond','SaleType','SaleCondition',\
           'PavedDrive']
#str_list = []
num_cat = ['Fireplaces', 'TotRmsAbvGrd', 'FullBath', 'GarageCars', 'OverallQual']
#num_cat = []
num_list = ['MasVnrArea', 'GarageYrBlt', 'YearRemodAdd', 'YearBuilt', '1stFlrSF', 'TotalBsmtSF', 'GarageArea', 'GrLivArea']
all_list = ['Id'] + str_list + num_cat + num_list + ['SalePrice']
df_total = pd.concat([df_train,df_test],axis=0)

#print(df_total.shape)
df_use = df_total[all_list]
#print(df_use.shape)
#print(df_use.tail())
#print(df_train[str_list])
# str_list = ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', \
#             'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', \
#             'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', \
#             'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', \
#             'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', \
#             'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', \
#             'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

In [4]:
from sklearn.base import TransformerMixin
class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

# fill nan

In [5]:
df_remove_nan = DataFrameImputer().fit_transform(df_use)
print(df_remove_nan.isnull().sum().max())

0

In [6]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.utils import check_array
from sklearn.preprocessing import LabelEncoder
from scipy import sparse

class CategoricalEncoder(BaseEstimator, TransformerMixin):
    

    def __init__(self, encoding='onehot', categories='auto', dtype=np.float64,
                 handle_unknown='error'):
        self.encoding = encoding
        self.categories = categories
        self.dtype = dtype
        self.handle_unknown = handle_unknown

    def fit(self, X, y=None):

        if self.encoding not in ['onehot', 'onehot-dense', 'ordinal']:
            template = ("encoding should be either 'onehot', 'onehot-dense' "
                        "or 'ordinal', got %s")
            raise ValueError(template % self.handle_unknown)

        if self.handle_unknown not in ['error', 'ignore']:
            template = ("handle_unknown should be either 'error' or "
                        "'ignore', got %s")
            raise ValueError(template % self.handle_unknown)

        if self.encoding == 'ordinal' and self.handle_unknown == 'ignore':
            raise ValueError("handle_unknown='ignore' is not supported for"
                             " encoding='ordinal'")

        X = check_array(X, dtype=np.object, accept_sparse='csc', copy=True)
        n_samples, n_features = X.shape

        self._label_encoders_ = [LabelEncoder() for _ in range(n_features)]

        for i in range(n_features):
            le = self._label_encoders_[i]
            Xi = X[:, i]
            if self.categories == 'auto':
                le.fit(Xi)
            else:
                valid_mask = np.in1d(Xi, self.categories[i])
                if not np.all(valid_mask):
                    if self.handle_unknown == 'error':
                        diff = np.unique(Xi[~valid_mask])
                        msg = ("Found unknown categories {0} in column {1}"
                               " during fit".format(diff, i))
                        raise ValueError(msg)
                le.classes_ = np.array(np.sort(self.categories[i]))

        self.categories_ = [le.classes_ for le in self._label_encoders_]

        return self

    def transform(self, X):
        X = check_array(X, accept_sparse='csc', dtype=np.object, copy=True)
        n_samples, n_features = X.shape
        X_int = np.zeros_like(X, dtype=np.int)
        X_mask = np.ones_like(X, dtype=np.bool)

        for i in range(n_features):
            valid_mask = np.in1d(X[:, i], self.categories_[i])

            if not np.all(valid_mask):
                if self.handle_unknown == 'error':
                    diff = np.unique(X[~valid_mask, i])
                    msg = ("Found unknown categories {0} in column {1}"
                           " during transform".format(diff, i))
                    raise ValueError(msg)
                else:
                    X_mask[:, i] = valid_mask
                    X[:, i][~valid_mask] = self.categories_[i][0]
            X_int[:, i] = self._label_encoders_[i].transform(X[:, i])

        if self.encoding == 'ordinal':
            return X_int.astype(self.dtype, copy=False)

        mask = X_mask.ravel()
        n_values = [cats.shape[0] for cats in self.categories_]
        n_values = np.array([0] + n_values)
        indices = np.cumsum(n_values)

        column_indices = (X_int + indices[:-1]).ravel()[mask]
        row_indices = np.repeat(np.arange(n_samples, dtype=np.int32),
                                n_features)[mask]
        data = np.ones(n_samples * n_features)[mask]

        out = sparse.csc_matrix((data, (row_indices, column_indices)),
                                shape=(n_samples, indices[-1]),
                                dtype=self.dtype).tocsr()
        if self.encoding == 'onehot-dense':
            return out.toarray()
        else:
            return out

In [7]:
from sklearn.base import BaseEstimator,TransformerMixin
#select columns and transit to array

class DataFrameSelector(BaseEstimator,TransformerMixin):
    def __init__(self,feature_names):
        self.feature_names = feature_names
    def fit(self,X,y=None):
        return self
    def transform(self,X):
        return X[self.feature_names].values

In [8]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Imputer   
from sklearn.pipeline import FeatureUnion
#CategoricalEncoder(encoding='onehot-dense')

num_attribs = num_list
num_pipeline = Pipeline([
               ('selector',DataFrameSelector(num_attribs)),      
#               ('std_scaler',StandardScaler()),
              ])
const_pipeline = Pipeline([
               ('selector',DataFrameSelector(['Id','SalePrice'])),      
              ])
num_cat_attribs = str_list + num_cat
num_obj_pipeline = Pipeline([
                  ('selector',DataFrameSelector(num_cat_attribs)),
                  ('cat_encoder',CategoricalEncoder(encoding='onehot-dense')),
              ])

In [9]:
full_pipeline = FeatureUnion(transformer_list=
                             [
                              ('const_pipeline',const_pipeline),
                              ('num_pipeline',num_pipeline),
                              
                              ('num_obj_pipeline',num_obj_pipeline)
                             ],
                             )

In [10]:
print(df_remove_nan.head())
df_final = full_pipeline.fit_transform(df_remove_nan)

   Id Alley Heating HeatingQC CentralAir Electrical BsmtQual BsmtCond  \
0   1  Grvl    GasA        Ex          Y      SBrkr       Gd       TA
1   2  Grvl    GasA        Ex          Y      SBrkr       Gd       TA
2   3  Grvl    GasA        Ex          Y      SBrkr       Gd       TA
3   4  Grvl    GasA        Gd          Y      SBrkr       TA       Gd
4   5  Grvl    GasA        Ex          Y      SBrkr       Gd       TA

  SaleType SaleCondition    ...     OverallQual  MasVnrArea  GarageYrBlt  \
0       WD        Normal    ...               7       196.0       2003.0
1       WD        Normal    ...               6         0.0       1976.0
2       WD        Normal    ...               7       162.0       2001.0
3       WD       Abnorml    ...               7         0.0       1998.0
4       WD        Normal    ...               8       350.0       2000.0

   YearRemodAdd  YearBuilt  1stFlrSF  TotalBsmtSF  GarageArea  GrLivArea  \
0          2003       2003       856        856.0       548.0       1710
1          1976       1976      1262       1262.0       460.0       1262
2          2002       2001       920        920.0       608.0       1786
3          1970       1915       961        756.0       642.0       1717
4          2000       2000      1145       1145.0       836.0       2198

   SalePrice
0     208500
1     181500
2     223500
3     140000
4     250000

[5 rows x 25 columns]

In [11]:
df_final.shape

(2919, 97)

In [12]:
df_final = pd.DataFrame(df_final)

In [13]:
df_final.tail(20)

,0,1,2,3,4,5,6,7,8,9,...,87,88,89,90,91,92,93,94,95,96
2899,2900.0,0.0,257.0,1975.000000,1975.0,1975.0,1210.0,1128.0,528.0,1210.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2900,2901.0,0.0,0.0,1958.000000,1958.0,1958.0,1650.0,1632.0,518.0,1650.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2901,2902.0,0.0,0.0,2000.000000,2000.0,2000.0,1403.0,1381.0,470.0,1403.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2902,2903.0,0.0,198.0,2005.000000,2006.0,2005.0,1960.0,1728.0,714.0,1960.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2903,2904.0,0.0,382.0,2005.000000,2006.0,2005.0,1838.0,1838.0,682.0,1838.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2904,2905.0,0.0,0.0,1951.000000,1951.0,1951.0,1600.0,0.0,270.0,1600.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2905,2906.0,0.0,200.0,1997.000000,1997.0,1997.0,1368.0,1288.0,784.0,1368.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2906,2907.0,0.0,0.0,1977.000000,1977.0,1977.0,616.0,264.0,336.0,1304.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2907,2908.0,0.0,0.0,1968.000000,2003.0,1968.0,874.0,864.0,288.0,874.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2908,2909.0,0.0,0.0,1970.000000,1970.0,1970.0,1652.0,1652.0,928.0,1652.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2909,2910.0,0.0,0.0,1978.113406,1970.0,1970.0,630.0,630.0,0.0,630.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2910,2911.0,0.0,0.0,1972.000000,1972.0,1972.0,546.0,546.0,253.0,1092.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2911,2912.0,0.0,194.0,1969.000000,1979.0,1969.0,1360.0,1104.0,336.0,1360.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2912,2913.0,0.0,0.0,1970.000000,1970.0,1970.0,546.0,546.0,286.0,1092.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2913,2914.0,0.0,0.0,1978.113406,1970.0,1970.0,546.0,546.0,0.0,1092.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2914,2915.0,0.0,0.0,1978.113406,1970.0,1970.0,546.0,546.0,0.0,1092.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2915,2916.0,0.0,0.0,1970.000000,1970.0,1970.0,546.0,546.0,286.0,1092.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2916,2917.0,0.0,0.0,1960.000000,1996.0,1960.0,1224.0,1224.0,576.0,1224.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2917,2918.0,0.0,0.0,1978.113406,1992.0,1992.0,970.0,912.0,0.0,970.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2918,2919.0,0.0,94.0,1993.000000,1994.0,1993.0,996.0,996.0,650.0,2000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [14]:
df_final_train = df_final[df_final[1]>0]
df_final_test = df_final[df_final[1]<0.1]

Save2File=pd.DataFrame()
Save2File['Id']=df_final_test[0]
print(Save2File.head())

df_final_test = df_final_test.drop(df_final_test.columns[0:2],axis=1)
print(df_final_test.head())

print(df_final.shape)
print(df_final_train.shape)
print(df_final_test.shape)
X_train_features = df_final_train.drop(df_final_train.columns[0:2],axis=1)
print('df_final_test.shape',df_final_test.shape,'X_train_features.shape',X_train_features.shape)
#y_train_features = df_final_train[1]
y_train_features = np.log(df_final_train[1])
print(y_train_features[0:5])

          Id
1460  1461.0
1461  1462.0
1462  1463.0
1463  1464.0
1464  1465.0
         2       3       4       5       6       7      8       9    10   11  \
1460    0.0  1961.0  1961.0  1961.0   896.0   882.0  730.0   896.0  1.0  0.0
1461  108.0  1958.0  1958.0  1958.0  1329.0  1329.0  312.0  1329.0  1.0  0.0
1462    0.0  1997.0  1998.0  1997.0   928.0   928.0  482.0  1629.0  1.0  0.0
1463   20.0  1998.0  1998.0  1998.0   926.0   926.0  470.0  1604.0  1.0  0.0
1464    0.0  1992.0  1992.0  1992.0  1280.0  1280.0  506.0  1280.0  1.0  0.0

     ...    87   88   89   90   91   92   93   94   95   96
1460 ...   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1461 ...   0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1462 ...   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1463 ...   0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1464 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

[5 rows x 95 columns]
(2919, 97)
(1460, 97)
(1459, 95)
df_final_test.shape (1459, 95) X_train_features.shape (1460, 95)
0    12.247694
1    12.109011
2    12.317167
3    11.849398
4    12.429216
Name: 1, dtype: float64

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X_train_features,y_train_features,test_size=0.33)
print(X_train.shape)

(978, 95)

In [16]:
#degree=2
#alpha=0.1
from sklearn.metrics import mean_squared_error




print(df_final_train.shape)
print(df_final_test.shape)
score_best =1
score_train=0
degree_best=0
alpha_best =0
for alpha in np.arange(0.2,1.0,0.2):
    for degree in range(1,3):
        for epoch in range(1,11):
            Poly=PolynomialFeatures(degree=degree)
            #df_sample=df_train_features[features_all_corr05].sample(frac=1).reset_index(drop=True)
            X_train,X_test,y_train,y_test=train_test_split(X_train_features,y_train_features,test_size=0.33)
            X_train_transform =Poly.fit_transform(X_train)
            X_test_transform  =Poly.fit_transform(X_test) 
            
            X_final_test  = Poly.fit_transform(df_final_test) # real testdata
            
            print(type(X_train),type(X_test_transform))
            clf=linear_model.Lasso(alpha=alpha)
            clf.fit(X_train_transform,y_train)
            y_train_pred=clf.predict(X_train_transform)
            y_test_pred=clf.predict(X_test_transform) 
            #print('X_test.shape',X_test.shape,'X_test_transform.shape',X_test_transform.shape,'y_test_pred.shape',y_test_pred.shape)
            print('epoch={:d},alpha={:.2f},degree={:d}, train data: r2_score={:.2f}'
                  .format(epoch,alpha,degree,r2_score(y_train_pred,y_train)))
            print('epoch={:d},alpha={:.2f},degree={:d}, test data: r2_score={:.2f}'
                  .format(epoch,alpha,degree,r2_score(y_test_pred,y_test)))
            lin_mse = mean_squared_error(y_test,y_test_pred)
            lin_rmse = np.sqrt(lin_mse)
            print('Mean Square Error: ',lin_rmse)
            if(mean_squared_error(y_test_pred,y_test) < score_best):
                
                score_best  = mean_squared_error(y_test_pred,y_test)
                degree_best = degree
                alpha_best  = alpha
                score_train = mean_squared_error(y_train_pred,y_train)
                print('COME IN mean_squared_error',score_best,'degree best',degree_best,'alpha_best',alpha_best,'score_train',score_train)
                #print('df_final_test shape',df_final_test.shape,'X_test_transform shape',X_test_transform.shape)
                #print('y_train_pred shape',y_train_pred.shape,'y_train shape',len(y_train))
                
                #print(X_test_transform[:6])
                #print(df_final_test.head())
                y_test_final = clf.predict(X_final_test) # prediction for real test data
                Save2File['SalePrice']=y_test_final
print("The best case: epoch={:d},alpha={:.2f},degree={:d}, test_score={:.2f}, train_score={:.2f}"
      .format(epoch,alpha_best,degree_best,np.sqrt(score_best),np.sqrt(score_train)))

(1460, 97)
(1459, 95)
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=1,alpha=0.20,degree=1, train data: r2_score=0.69
epoch=1,alpha=0.20,degree=1, test data: r2_score=0.71
Mean Square Error:  0.18322657549922786
COME IN mean_squared_error 0.03357197796917425 degree best 1 alpha_best 0.2 score_train 0.03786789611344551
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=2,alpha=0.20,degree=1, train data: r2_score=0.76
epoch=2,alpha=0.20,degree=1, test data: r2_score=0.62
Mean Square Error:  0.22450202953581883
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=3,alpha=0.20,degree=1, train data: r2_score=0.74
epoch=3,alpha=0.20,degree=1, test data: r2_score=0.67
Mean Square Error:  0.21385152245386294
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=4,alpha=0.20,degree=1, train data: r2_score=0.69
epoch=4,alpha=0.20,degree=1, test data: r2_score=0.66
Mean Square Error:  0.19237239293717387
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=5,alpha=0.20,degree=1, train data: r2_score=0.69
epoch=5,alpha=0.20,degree=1, test data: r2_score=0.72
Mean Square Error:  0.18493858301460983
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=6,alpha=0.20,degree=1, train data: r2_score=0.68
epoch=6,alpha=0.20,degree=1, test data: r2_score=0.69
Mean Square Error:  0.182179414713947
COME IN mean_squared_error 0.033189339145516285 degree best 1 alpha_best 0.2 score_train 0.03788273923263229
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=7,alpha=0.20,degree=1, train data: r2_score=0.70
epoch=7,alpha=0.20,degree=1, test data: r2_score=0.71
Mean Square Error:  0.19113545735247256
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=8,alpha=0.20,degree=1, train data: r2_score=0.64
epoch=8,alpha=0.20,degree=1, test data: r2_score=0.73
Mean Square Error:  0.17022749970598974
COME IN mean_squared_error 0.02897740165615274 degree best 1 alpha_best 0.2 score_train 0.04017524446880019
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=9,alpha=0.20,degree=1, train data: r2_score=0.67
epoch=9,alpha=0.20,degree=1, test data: r2_score=0.73
Mean Square Error:  0.17921925897557106
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=10,alpha=0.20,degree=1, train data: r2_score=0.65
epoch=10,alpha=0.20,degree=1, test data: r2_score=0.73
Mean Square Error:  0.17397121904324284
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=1,alpha=0.20,degree=2, train data: r2_score=0.90
epoch=1,alpha=0.20,degree=2, test data: r2_score=0.85
Mean Square Error:  0.1403152006506992
COME IN mean_squared_error 0.019688355533645976 degree best 2 alpha_best 0.2 score_train 0.015003352009079804
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=2,alpha=0.20,degree=2, train data: r2_score=0.90
epoch=2,alpha=0.20,degree=2, test data: r2_score=0.84
Mean Square Error:  0.14982522999794087
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=3,alpha=0.20,degree=2, train data: r2_score=0.91
epoch=3,alpha=0.20,degree=2, test data: r2_score=0.82
Mean Square Error:  0.1577791912268003
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=4,alpha=0.20,degree=2, train data: r2_score=0.90
epoch=4,alpha=0.20,degree=2, test data: r2_score=0.85
Mean Square Error:  0.1504294976971598
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=5,alpha=0.20,degree=2, train data: r2_score=0.91
epoch=5,alpha=0.20,degree=2, test data: r2_score=0.82
Mean Square Error:  0.1712401380864516
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=6,alpha=0.20,degree=2, train data: r2_score=0.90
epoch=6,alpha=0.20,degree=2, test data: r2_score=0.82
Mean Square Error:  0.16136492934019755
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=7,alpha=0.20,degree=2, train data: r2_score=0.90
epoch=7,alpha=0.20,degree=2, test data: r2_score=0.82
Mean Square Error:  0.1597141061624623
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=8,alpha=0.20,degree=2, train data: r2_score=0.91
epoch=8,alpha=0.20,degree=2, test data: r2_score=0.81
Mean Square Error:  0.15471665384207087
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=9,alpha=0.20,degree=2, train data: r2_score=0.90
epoch=9,alpha=0.20,degree=2, test data: r2_score=0.83
Mean Square Error:  0.15642847770841173
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=10,alpha=0.20,degree=2, train data: r2_score=0.90
epoch=10,alpha=0.20,degree=2, test data: r2_score=0.83
Mean Square Error:  0.15794722030329406
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=1,alpha=0.40,degree=1, train data: r2_score=0.65
epoch=1,alpha=0.40,degree=1, test data: r2_score=0.72
Mean Square Error:  0.17271301705560477
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=2,alpha=0.40,degree=1, train data: r2_score=0.77
epoch=2,alpha=0.40,degree=1, test data: r2_score=0.61
Mean Square Error:  0.2334386052672779
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=3,alpha=0.40,degree=1, train data: r2_score=0.68
epoch=3,alpha=0.40,degree=1, test data: r2_score=0.67
Mean Square Error:  0.19168868496670233
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=4,alpha=0.40,degree=1, train data: r2_score=0.67
epoch=4,alpha=0.40,degree=1, test data: r2_score=0.72
Mean Square Error:  0.17881220191385175
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=5,alpha=0.40,degree=1, train data: r2_score=0.65
epoch=5,alpha=0.40,degree=1, test data: r2_score=0.71
Mean Square Error:  0.17504549362780536
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=6,alpha=0.40,degree=1, train data: r2_score=0.76
epoch=6,alpha=0.40,degree=1, test data: r2_score=0.62
Mean Square Error:  0.22879601917853198
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=7,alpha=0.40,degree=1, train data: r2_score=0.65
epoch=7,alpha=0.40,degree=1, test data: r2_score=0.70
Mean Square Error:  0.1732662307168947
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=8,alpha=0.40,degree=1, train data: r2_score=0.73
epoch=8,alpha=0.40,degree=1, test data: r2_score=0.65
Mean Square Error:  0.21504742395815374
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=9,alpha=0.40,degree=1, train data: r2_score=0.67
epoch=9,alpha=0.40,degree=1, test data: r2_score=0.65
Mean Square Error:  0.18145429386688905
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=10,alpha=0.40,degree=1, train data: r2_score=0.75
epoch=10,alpha=0.40,degree=1, test data: r2_score=0.64
Mean Square Error:  0.2252624134505421
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=1,alpha=0.40,degree=2, train data: r2_score=0.88
epoch=1,alpha=0.40,degree=2, test data: r2_score=0.83
Mean Square Error:  0.1576289236654081
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=2,alpha=0.40,degree=2, train data: r2_score=0.88
epoch=2,alpha=0.40,degree=2, test data: r2_score=0.83
Mean Square Error:  0.15744363885036178
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=3,alpha=0.40,degree=2, train data: r2_score=0.89
epoch=3,alpha=0.40,degree=2, test data: r2_score=0.83
Mean Square Error:  0.15391089996276175
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=4,alpha=0.40,degree=2, train data: r2_score=0.89
epoch=4,alpha=0.40,degree=2, test data: r2_score=0.83
Mean Square Error:  0.1505976769050985
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=5,alpha=0.40,degree=2, train data: r2_score=0.89
epoch=5,alpha=0.40,degree=2, test data: r2_score=0.84
Mean Square Error:  0.14583689377679915
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=6,alpha=0.40,degree=2, train data: r2_score=0.90
epoch=6,alpha=0.40,degree=2, test data: r2_score=0.82
Mean Square Error:  0.15221078690876708
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=7,alpha=0.40,degree=2, train data: r2_score=0.89
epoch=7,alpha=0.40,degree=2, test data: r2_score=0.84
Mean Square Error:  0.14495110044437629

<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=8,alpha=0.40,degree=2, train data: r2_score=0.90
epoch=8,alpha=0.40,degree=2, test data: r2_score=0.83
Mean Square Error:  0.15128344645060476
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=9,alpha=0.40,degree=2, train data: r2_score=0.89
epoch=9,alpha=0.40,degree=2, test data: r2_score=0.82
Mean Square Error:  0.1517471811987695
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=10,alpha=0.40,degree=2, train data: r2_score=0.89
epoch=10,alpha=0.40,degree=2, test data: r2_score=0.85
Mean Square Error:  0.13993154284675421
COME IN mean_squared_error 0.019580836683473008 degree best 2 alpha_best 0.4 score_train 0.01655089054357301
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=1,alpha=0.60,degree=1, train data: r2_score=0.64
epoch=1,alpha=0.60,degree=1, test data: r2_score=0.70
Mean Square Error:  0.17877948958444106
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=2,alpha=0.60,degree=1, train data: r2_score=0.72
epoch=2,alpha=0.60,degree=1, test data: r2_score=0.63
Mean Square Error:  0.21688178485578466
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=3,alpha=0.60,degree=1, train data: r2_score=0.75
epoch=3,alpha=0.60,degree=1, test data: r2_score=0.63
Mean Square Error:  0.2328538312252446
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=4,alpha=0.60,degree=1, train data: r2_score=0.63
epoch=4,alpha=0.60,degree=1, test data: r2_score=0.69
Mean Square Error:  0.1764035829775853
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=5,alpha=0.60,degree=1, train data: r2_score=0.63
epoch=5,alpha=0.60,degree=1, test data: r2_score=0.75
Mean Square Error:  0.16022562342880856
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=6,alpha=0.60,degree=1, train data: r2_score=0.67
epoch=6,alpha=0.60,degree=1, test data: r2_score=0.71
Mean Square Error:  0.18569472644051768
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=7,alpha=0.60,degree=1, train data: r2_score=0.63
epoch=7,alpha=0.60,degree=1, test data: r2_score=0.67
Mean Square Error:  0.17955487607071932
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=8,alpha=0.60,degree=1, train data: r2_score=0.74
epoch=8,alpha=0.60,degree=1, test data: r2_score=0.65
Mean Square Error:  0.2232732502109046
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=9,alpha=0.60,degree=1, train data: r2_score=0.63
epoch=9,alpha=0.60,degree=1, test data: r2_score=0.70
Mean Square Error:  0.17296015333952325
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=10,alpha=0.60,degree=1, train data: r2_score=0.63
epoch=10,alpha=0.60,degree=1, test data: r2_score=0.71
Mean Square Error:  0.17570257619523683
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=1,alpha=0.60,degree=2, train data: r2_score=0.89
epoch=1,alpha=0.60,degree=2, test data: r2_score=0.85
Mean Square Error:  0.15122226915574605
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=2,alpha=0.60,degree=2, train data: r2_score=0.89
epoch=2,alpha=0.60,degree=2, test data: r2_score=0.82
Mean Square Error:  0.16395520049811066
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=3,alpha=0.60,degree=2, train data: r2_score=0.89
epoch=3,alpha=0.60,degree=2, test data: r2_score=0.82
Mean Square Error:  0.1589533433682381
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=4,alpha=0.60,degree=2, train data: r2_score=0.89
epoch=4,alpha=0.60,degree=2, test data: r2_score=0.84
Mean Square Error:  0.14628513531912246
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=5,alpha=0.60,degree=2, train data: r2_score=0.88
epoch=5,alpha=0.60,degree=2, test data: r2_score=0.83
Mean Square Error:  0.15210868907524133
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=6,alpha=0.60,degree=2, train data: r2_score=0.88
epoch=6,alpha=0.60,degree=2, test data: r2_score=0.82
Mean Square Error:  0.15656113455383772
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=7,alpha=0.60,degree=2, train data: r2_score=0.88
epoch=7,alpha=0.60,degree=2, test data: r2_score=0.85
Mean Square Error:  0.1414170294487114
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=8,alpha=0.60,degree=2, train data: r2_score=0.89
epoch=8,alpha=0.60,degree=2, test data: r2_score=0.85
Mean Square Error:  0.14442268359174293
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=9,alpha=0.60,degree=2, train data: r2_score=0.88
epoch=9,alpha=0.60,degree=2, test data: r2_score=0.83
Mean Square Error:  0.16430158401697678
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=10,alpha=0.60,degree=2, train data: r2_score=0.89
epoch=10,alpha=0.60,degree=2, test data: r2_score=0.84
Mean Square Error:  0.15165264754852573
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=1,alpha=0.80,degree=1, train data: r2_score=0.64
epoch=1,alpha=0.80,degree=1, test data: r2_score=0.67
Mean Square Error:  0.17872247657422852
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=2,alpha=0.80,degree=1, train data: r2_score=0.72
epoch=2,alpha=0.80,degree=1, test data: r2_score=0.65
Mean Square Error:  0.22641892269104494
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=3,alpha=0.80,degree=1, train data: r2_score=0.61
epoch=3,alpha=0.80,degree=1, test data: r2_score=0.70
Mean Square Error:  0.17310978684159353
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=4,alpha=0.80,degree=1, train data: r2_score=0.65
epoch=4,alpha=0.80,degree=1, test data: r2_score=0.65
Mean Square Error:  0.18154160808689027
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=5,alpha=0.80,degree=1, train data: r2_score=0.64
epoch=5,alpha=0.80,degree=1, test data: r2_score=0.65
Mean Square Error:  0.17837725417224143
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=6,alpha=0.80,degree=1, train data: r2_score=0.64
epoch=6,alpha=0.80,degree=1, test data: r2_score=0.68
Mean Square Error:  0.17563104922118797
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=7,alpha=0.80,degree=1, train data: r2_score=0.64
epoch=7,alpha=0.80,degree=1, test data: r2_score=0.72
Mean Square Error:  0.17443779153819197
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=8,alpha=0.80,degree=1, train data: r2_score=0.64
epoch=8,alpha=0.80,degree=1, test data: r2_score=0.70
Mean Square Error:  0.19132388881514847
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=9,alpha=0.80,degree=1, train data: r2_score=0.62
epoch=9,alpha=0.80,degree=1, test data: r2_score=0.69
Mean Square Error:  0.17872405636498487
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=10,alpha=0.80,degree=1, train data: r2_score=0.68
epoch=10,alpha=0.80,degree=1, test data: r2_score=0.60
Mean Square Error:  0.19928013648662238
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=1,alpha=0.80,degree=2, train data: r2_score=0.87
epoch=1,alpha=0.80,degree=2, test data: r2_score=0.84
Mean Square Error:  0.1544721305706493
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=2,alpha=0.80,degree=2, train data: r2_score=0.88
epoch=2,alpha=0.80,degree=2, test data: r2_score=0.86
Mean Square Error:  0.14382622456508704
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=3,alpha=0.80,degree=2, train data: r2_score=0.88
epoch=3,alpha=0.80,degree=2, test data: r2_score=0.82
Mean Square Error:  0.16585589701476738
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=4,alpha=0.80,degree=2, train data: r2_score=0.89
epoch=4,alpha=0.80,degree=2, test data: r2_score=0.81
Mean Square Error:  0.16434807424535064
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=5,alpha=0.80,degree=2, train data: r2_score=0.90
epoch=5,alpha=0.80,degree=2, test data: r2_score=0.81
Mean Square Error:  0.16232516397710278
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=6,alpha=0.80,degree=2, train data: r2_score=0.87
epoch=6,alpha=0.80,degree=2, test data: r2_score=0.85
Mean Square Error:  0.1418267450482678

<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=7,alpha=0.80,degree=2, train data: r2_score=0.87
epoch=7,alpha=0.80,degree=2, test data: r2_score=0.87
Mean Square Error:  0.13665311081477047
COME IN mean_squared_error 0.01867407269535394 degree best 2 alpha_best 0.8 score_train 0.01766620040544918
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=8,alpha=0.80,degree=2, train data: r2_score=0.89
epoch=8,alpha=0.80,degree=2, test data: r2_score=0.84
Mean Square Error:  0.1586616304411103
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=9,alpha=0.80,degree=2, train data: r2_score=0.88
epoch=9,alpha=0.80,degree=2, test data: r2_score=0.86
Mean Square Error:  0.13808610436513755
<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
epoch=10,alpha=0.80,degree=2, train data: r2_score=0.88
epoch=10,alpha=0.80,degree=2, test data: r2_score=0.85
Mean Square Error:  0.1471294788975132
The best case: epoch=10,alpha=0.80,degree=2, test_score=0.14, train_score=0.13

In [20]:
Save2File.head()

          Id  SalePrice
1460  1461.0  11.718051
1461  1462.0  11.881771
1462  1463.0  12.101054
1463  1464.0  12.090317
1464  1465.0  12.171584

In [21]:
Save2File['SalePrice_new']=np.exp(Save2File['SalePrice'])

In [22]:
Save2File.head()

          Id  SalePrice  SalePrice_new
1460  1461.0  11.718051  122767.874434
1461  1462.0  11.881771  144606.440110
1462  1463.0  12.101054  180061.471217
1463  1464.0  12.090317  178138.512708
1464  1465.0  12.171584  193219.880798

In [23]:
Save2File.shape

(1459, 3)

In [40]:
SaveFile=Save2File.drop("SalePrice",axis=1)

In [41]:
SaveFile.head()

          Id  SalePrice_new
1460  1461.0  122767.874434
1461  1462.0  144606.440110
1462  1463.0  180061.471217
1463  1464.0  178138.512708
1464  1465.0  193219.880798

In [43]:
SaveFile=SaveFile.rename(columns={"SalePrice_new":"SalePrice"})

In [44]:
SaveFile.head()

          Id      SalePrice
1460  1461.0  122767.874434
1461  1462.0  144606.440110
1462  1463.0  180061.471217
1463  1464.0  178138.512708
1464  1465.0  193219.880798

In [56]:
SaveFile["Id"]=SaveFile["Id"].astype(int)
SaveFile.head()
SaveFile_new=SaveFile.set_index("Id")

In [57]:
SaveFile_new.head()

          SalePrice
Id
1461  122767.874434
1462  144606.440110
1463  180061.471217
1464  178138.512708
1465  193219.880798

In [59]:
SaveFile_new.to_csv('Polynomial_House_Price.csv')